.load-result {
    margin-top     : 30px;
    width          : 100%;
    display        : flex;
    justify-content: center;
}

.loader {
    color    : black;
    font-size: 25px;
    margin   : 20px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.data-error {
    width     : 100%;
    margin    : 20px auto;
    text-align: center;
    color: maroon;
}