.app {
  /* width: 100%; */
  height : auto;
  padding: 25px 20px;
}

.app .app-title {
  margin        : 0 auto;
  font-size     : 1.3rem;
  width         : max-content;
  text-align    : center;
  padding-bottom: 5px;
  border-bottom : 2px solid black;
}